.input_field{
    display: flex;
    flex-direction: column;
}

.input_field label, .react_select_label{
    font-size: 14px;
    color: #000;
    font-weight: 400;
}

.input_field label span, .react_select_label span{
    color: red;
}

.input_field input{
    border: 1px solid #bec0c3;
    padding: 7px 5px;
    border-radius: 8px;
}

.react_select .css-13cymwt-control{
    border: 1px solid #bec0c3;
    padding: 0px 5px;
    border-radius: 8px;
    width: 100%;
}

.input_field input:focus-visible{
    outline: none;
    border: 1px solid #A9C23F;
}

.input_field input::placeholder{
    font-size: 14px;
    padding-left: 4px;
}

.react_select > div{
    font-size: 14px;
    color: #00000080;
}