.enquiry_box{
    background-color: #F7F9FD;
    padding: 70px 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.enquiry_box .black{
    display: unset;
}

.enquiry_box .white{
    display: none;
}

.enquiry_box:hover .black{
    display: none;
}

.enquiry_box:hover .white{
    display: unset;
}

.enquiry_box:hover{
    background-color: #003A70;
}

.enquiry_box:hover h6{
    color: #fff;
}

.enquiry_box img{
    width: 55px;
    margin-bottom: 10px;
    height: 55px;
    object-fit: contain;
}

.enquiry_box h6{
    color: #484C52;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}

.search_bar{
    width: 100%;
    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
    display: flex;
    align-items: center;
    border-radius: 32px;
}

.search_bar input{
    width: 100%;
    border: none;
    background: transparent;
    padding: 10px 15px;
    font-size: 14px;
}

.search_bar input:focus-visible{
    outline: none;
}

.search_bar .search_icon{
    background-color: #A9C23F;
    color: #fff;
    padding: 12px 22px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    cursor: pointer;
}

.search_bar .search_icon svg{
    font-size: 18px;
}

.search_bar select{
    padding: 12px 18px;
    border: none;
    background: transparent;
    border-left: 1px solid lightgrey;
    margin-right: 12px;
    color: #252B42;
    font-size: 14px;
}

.search_bar select:focus-visible{
    outline: none;
}

.result_head p{
    color: #737373;
    font-weight: 300;
    margin-bottom: 0;
}

.result_head h6{
    color: #484C52;
    font-size: 14px;
    font-weight: 600;
}

.result_head{
    border-bottom: 1px solid #D2D7DE;
    margin-bottom: 10px;
}

.result_box{
    background-color: #F5F6F7;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-bottom: 20px;
}

.result_box p{
    color: #737373;
    font-size: 14px;
}

.result_box p span{
    font-weight: 600;
    color: #000;
    font-size: 14px;
}

.result_box button{
    width: 100%;
    padding: 7px 0;
    border: none;
    border-radius: 25px;
    background-color: #003A70;
    color: #fff;
    margin-top: 15px;
    font-size: 15px;
}

