.dashboard_head {
    display: flex;
    justify-content: space-between;
    margin: 20px 5px;
}

.dashboard_head h5 {
    font-weight: 700;
    font-size: 23px;
    text-transform: uppercase;
}

.dashboard_head .calender_date {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 100px;
    border: 1px solid lightgray;
}

.dashboard_head .calender_date img {
    width: 15px;
    margin-right: 13px;
}

.dashboard_head .calender_date p {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.dashboard_head .calender_date p svg {
    font-size: 22px;
}

.dashboard_boxes {
    margin-bottom: 25px;
}

.dashboard_boxes .box {
    background-color: #F7DAE5;
    padding: 15px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 100%;
}

.dashboard_boxes .consignee_box {
    background-color: #FFF2E1;
}

.dashboard_boxes .item_box {
    background-color: #C3E2E6;
}

.dashboard_boxes .pallet_box {
    background-color: #D0CCE0;
}

.dashboard_boxes .box img {
    width: 35px;
    margin-bottom: 10px;
}

.dashboard_boxes .box h5 {
    font-size: 14px;
    font-weight: 400;
}

.dashboard_boxes .box strong {
    font-size: 24px;
}

.graph_view .graph_box {
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 100%;
}

.graph_view .graph_box h6 {
    font-weight: 600;
    padding: 0 10px;
    font-size: 17px;
    margin-bottom: 0;
    width: 30%;
}

.consignee_table.recent_activity {
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 5px;
}

.consignee_table.recent_activity .recent_head {
    /* background-color: #718096; */
    background-color: #003A70;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.consignee_table.recent_activity .recent_head h6 {
    margin-bottom: 0;
}

.consignee_table.recent_activity .table>thead>tr>th {
    background-color: #fff;
    /* color: #AAAAAA; */
    color: #003A70;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 20px;
    text-align: center;
    font-weight: 600;
}

.consignee_table.recent_activity .table-striped>tbody>tr:nth-of-type(even)>* {
    background-color: #fff;
}

.consignee_table.recent_activity .table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: #F2F2F2;
}

.consignee_table.recent_activity .table>tbody>tr>td {
    text-align: center;
    font-size: 13px;
}

.consignee_table.recent_activity .table>tbody>tr>td.make_green {
    color: #329932;
}

.consignee_table.recent_activity .table>tbody>tr>td.make_red {
    color: #FF0000;
}

.consignee_table.recent_activity .table>tbody>tr:last-child>td:first-child {
    border-bottom-left-radius: 0px
}

.consignee_table.recent_activity .table>tbody>tr:last-child>td:last-child {
    border-bottom-right-radius: 0px;
}

.consignee_table.recent_activity .table>tbody>tr>td button {
    /* background-color: #979797; */
    background-color: #003A70;
    padding: 5px 30px;
    font-weight: 500;
}

.sort_by .dropdown button {
    background-color: #fff;
    border: none;
    color: #484C52;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    padding: 5px 15px;
    font-weight: 500;
    border-radius: 100px;
}

.sort_by .dropdown button:active {
    background-color: #fff !important;
    color: #484C52 !important;
}

.sort_by {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sort_by img {
    width: 18px;
    cursor: pointer;
}

.user_chat button {
    border: none;
    background-color: #003A70;
    color: #fff;
    padding: 8px 20px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
    justify-content: center;
}

.user_chat button svg {
    font-size: 17px;
}

.donut_chart {
    max-width: 200px;
    margin: auto;
    height: 200px;
}

.pie_chart {
    max-width: 180px;
    margin: auto;
    height: 200px;
}

.line_chart {
    /* min-height: 240px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.bar_chart {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center !important;
}

.recent_sort.dropdown .dropdown-item {
    font-size: 14px;
    padding: 7px 15px;
    border-bottom: 1px solid lightgrey;
    font-weight: 400;
}

.recent_sort.dropdown .dropdown-menu.show {
    display: block;
    padding: 0px;
}

.graph_box>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recent_activity .download_btn {
    border: none;
    background-color: #003A70;
    color: #fff;
    padding: 7px 25px;
    font-size: 13px;
    border-radius: 100px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.dashboard_head_right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.power_bi_dashboard button {
    background-color: #003a70c9;
    border: none;
    padding: 7px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    border-radius: 100px;
    color: #fff;
}

.power_bi_dashboard img {
    width: 20px;
}

.powerbi_close_btn {
    text-align: end;
    margin: 5px;
    display: flex;
    justify-content: end;
    gap: 30px;
}

.powerbi_close_btn button {
    background-color: #003A70;
    color: #fff;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 7px;
    border: none;
}

.powerbi_main_dashboard {
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.report_tabs.power_bi_tab {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 0;
}

.report_tabs.power_bi_tab button {
    font-size: 14px;
    padding: 10px 40px;
}

.no_powerbi_tab {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no_powerbi_tab h2 {
    text-transform: uppercase;
    font-weight: 700;
}

.show_iframe {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
}

.show_iframe .demo_iframe {
    width: 100%;
    height: 450px;
}

@media(max-width: 1100px) {
    .graph_box>div {
        gap: 5px 0;
        flex-direction: column;
    }

    .graph_view .graph_box h6 {
        width: 100%;
    }

    .graph_box>div>div {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .dashboard_boxes .box {
        margin-bottom: 25px;
        height: 90%;
    }

    .dashboard_head {
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;
        align-items: center;
    }

    .dashboard_head h5 {
        font-size: 18px;
        margin-bottom: 0;
    }

    .dashboard_head .calender_date {
        padding: 5px 25px;
    }

    .recent_activity {
        margin-bottom: 50px;
    }
}