.footer_main{
    color: #fff;
    border-top: 1px solid #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer_main .container div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px 0;
}

.footer_main .container div ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 0;
    padding-left: 0;
}

.footer_main .container div p{
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 300;
}

@media (max-width: 767px) {
    .footer_main{
        bottom: -40px;
    }

    .footer_main .container div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 13px 0;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .footer_main .container div ul{
        font-size: 15px;
    }

    .footer_main .container div p{
        font-size: 15px;
    }
}