.preview_doc_modal .modal-dialog{
    max-width: 600px !important;
    border: none !important;
}

.preview_doc_modal .modal-content{
    background-color: transparent !important;
    border: none !important;
}

.preview_doc_modal .modal-body{
    background-color: transparent !important;
    padding: 0 !important;
}

.preview_doc_modal{
    background-color: #00000057 !important;
}

.preview_show_data svg{
    color: #fff;
    font-size: 35px;
    position: absolute;
    right: -40px;
    top: 20px;
}

.download_pdf_btn{
    padding: 5px 25px;
    margin-bottom: 10px;
    border: none;
    color: #fff;
    background-color: #003A70;
}