@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

body {
  background-color: #F5F6F7 !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  box-shadow: none;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

img {
  max-width: 100%;
}

.fullscreen.fullscreen-enabled {
  background-color: #F5F6F7 !important;
  /* padding: 20px 5px !important; */
  /* overflow-y: scroll; */
}

.fullscreen.fullscreen-enabled::-webkit-scrollbar {
  width: 0px;
}

.fullscreen.fullscreen-enabled::-webkit-scrollbar-track {
  box-shadow: none;
}

.fullscreen.fullscreen-enabled::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.warehouse_detail_layout {
  background-image: url('/public/images/warehouse_detail_bg.png');
  background-size: cover;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
}

.location_bg_layout {
  background-image: url('/public/images/location_bg.png');
  background-size: cover;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
}

.user_layout {
  padding: 25px;
}

.modal {
  z-index: 10000000 !important;
}

.fade.modal-backdrop.show {
  opacity: 0.3;
}

.margin-top-100 {
  margin-top: 100px;
}

@media (max-width: 992px) {
  .left_layout_overlay {
    width: 0px !important;
  }

  body {
    overflow: auto;
  }

  .user_layout {
    padding: 20px 0px;
  }

  .margin-top-100 {
    margin-top: 130px;
  }
}

