/* .warehouse_detail_main{
    margin-bottom: 50px;
} */

.warehouse_detail_main .warehouse_head {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.warehouse_detail_main .warehouse_head h6 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.warehouse_detail_main .warehouse_head h6 svg {
    font-size: 20px;
    cursor: pointer;
}

.warehouse_detail_main .warehouse_head button {
    border: none;
    background-color: #A9C23F;
    color: #fff;
    padding: 3px 15px;
    border-radius: 100px;
    font-size: 13px;
    font-weight: 500;
}

.warehouse_detail_boxes {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    cursor: pointer;
    min-height: 185px;
}

.warehouse_detail_boxes img {
    width: 50px;
}

.warehouse_detail_boxes div {
    color: #484C52;
    font-size: 23px;
    font-weight: 700;
    padding: 17px 0;
    background-color: #F5F6F7;
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.warehouse_detail_boxes h6 {
    color: #484C52;
    font-size: 18px;
    margin-top: 10px;
}

.warehouse_detail_boxes_right {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 15px;
    height: 370px;
    position: relative;
}

.warehouse_detail_boxes_right img {
    width: 200px;
}

.warehouse_detail_boxes_right div {
    background-color: #003A70;
    color: #fff;
    width: 100%;
    text-align: center;
    border-radius: 13px;
    position: absolute;
    bottom: 0;
    border: 1px solid #fff;
}

.warehouse_detail_boxes_right div p {
    padding: 8px 0;
    border-bottom: 1px solid #fff;
    font-weight: 500;
    margin-bottom: 0;
}

.warehouse_detail_boxes_right div h4 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 10px 0;
}

.warehouse_add_head {
    display: flex;
    justify-content: space-between;
    background-color: #718096;
    color: #fff;
    padding: 10px 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    align-items: center;
}

.warehouse_add .modal-body {
    padding: 0;
}

.warehouse_store_add_detail {
    padding: 20px;
}


.no_of_store_type .floor_loc {
    display: flex;
    gap: 10px;
    background-color: #ecf0df;
    padding: 12px;
}

.no_of_store_type .floor_loc:nth-child(even){
    background-color: #d5dac4;
}

.no_of_store_type .floor_loc .input_field{
    width: 50%;
}

.pallet_modal_main .store_head{
    background-image: url('../../../../assets/images/add_rack_head_bg.png');
    color: #fff;
    background-size: cover;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 100px;
    font-weight: 500;
    position: absolute;
    top: -14px;
}

.pallet_modal_main .modal-body{
    padding: 30px;
}

.pallet_modal_main .modal-content{
    border-radius: 25px !important;
}

.pallet_modal_main .pallet_input_field{
    display: flex;
    margin-top: 16px;
    width: 100%;
    border: 1px solid #484c524f;
    border-radius: 20px;
}

.pallet_modal_main .pallet_input_field .input_field{
    width: 90%;
}

.pallet_modal_main .pallet_input_field .input_field input{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pallet_modal_main .pallet_input_field button{
    padding: 6px 0px;
    width: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #A9C23F;
    color: #000;
    font-size: 15px;
    font-weight: 700;
}

.pallet_img{
    display: flex;
    align-items: center;
    gap: 15px;
}

.pallet_img img{
    width: 135px;
}

.pallet_img h4{
    font-size: 20px;
    font-weight: 700;
}

.pallet_img p{
    margin-bottom: 0;
    font-size: 13px;
    max-width: 230px;
}

.pallet_modal_main.stage_table .modal-body{
    padding: 10px;
}

.pallet_modal_main.stage_table table{
    margin-top: 20px;
}

.pallet_modal_main.stage_table table th{
    background-color: rgb(0, 58, 112);
    color: #fff;
    font-weight: 500;
    font-size: 13px;
}

.pallet_modal_main.stage_table table tr td{
    font-size: 13px;
}

.pallet_modal_main.stage_table .table-responsive{
    height: 400px;
}

@media (max-width: 992px) {
    .warehouse_detail_main .container{
        max-width: 960px;
    }
}

@media (max-width: 767px) {
    .warehouse_detail_main .warehouse_head h6{
        margin-bottom: 0;
    }

    .warehouse_detail_main .warehouse_head {
        color: #fff;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        flex-wrap: wrap;
        gap: 10px 0;
        margin-top: 15px;
        flex-direction: column;
    }

    .no_of_store_type .floor_loc{
        flex-direction: column;
    }

    .no_of_store_type .floor_loc .input_field{
        width: 100%;
    }
}

@media (max-width: 670px) {
    .warehouse_detail_main .warehouse_head {
        justify-content: center;
    }
}